<section class="py-5">

  <div class="container px-4 px-lg-5 my-5">
    <div class="no-wrap-flex gx-4 gx-lg-5 align-items-center">

      <!-- Left side: Product image -->
      <div class="">
        <div class="card">
          <img class="card-img-top"
               src="https://2.bp.blogspot.com/-43Uha-8nKvo/UBqyK1XAscI/AAAAAAAAC4E/m66x5R-rZNY/s1600/guess+amazon+11.jpg"
               alt="Product Image" height="600px" width="550px" />
        </div>
      </div>

      <!-- Right side: Product details -->
      <div class="">
        <div class="card">
          <div class="card-body">
            <h1 class="display-5 fw-bolder"> Hombres </h1>

            <p class="lead"> Luce los mejores outfits tendencia de hombre este 2024</p>

            <div class="d-flex justify-center">

              <button class="btn btn-outline-dark flex-shrink-0" type="button" [routerLink]="['/product', 'Hombre']">
                <i class="bi-cart-fill me-1"></i>
                Ir a la seccion Hombre
              </button>

            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Mujeres Section -->
    <div class="container px-4 px-lg-5 my-5">
      <div class="no-wrap-flex gx-4 gx-lg-5 align-items-center reverse-flex">

        <!-- Right side: Product details -->
        <div class="">
          <div class="card">
            <div class="card-body">
              <h1 class="display-5 fw-bolder"> Mujeres </h1>

              <p class="lead"> Luce los mejores outfits tendencia de hombre este 2024</p>

              <div class="d-flex justify-center">

                <button class="btn btn-outline-dark flex-shrink-0" type="button" [routerLink]="['/product', 'Mujer']">
                  <i class="bi-cart-fill me-1"></i>
                  Ir a la seccion Mujer
                </button>

              </div>
            </div>
          </div>
        </div>

        <!-- Left side: Product image -->
        <div class="">
          <div class="card">
            <img class="card-img-bottom" src="https://th.bing.com/th/id/OIP.t8xi8KNuMDqNH06cj7i2xwAAAA?rs=1&pid=ImgDetMain"
                 alt="Product Image" height="600px" width="575px"/>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
