<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
      <div *ngFor="let product of products" class="col mb-5">
        <div class="card h-100">
          <!-- Product image-->
          <div class="image-container">
            <img class="card-img-top" [src]="product.imgUrl" width="500" height="300" alt="Product Image"/>
          </div>
          <button class="btn btn-outline-dark mt-auto" (click)="goToProductDetails(product.productId)">View Details
          </button>

          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder">{{ product.name }}</h5>
              <!-- Product description-->
              <p>{{ product.description }}</p>
              <!-- Product price-->
              ${{ product.unitPrice }}
            </div>
          </div>
          <!-- Product actions-->

          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
              <button class="btn btn-outline-dark mt-auto" (click)="addProductToCart(product.productId)">Add to cart
              </button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

